<table>
  <% if (data.header) { %>
    <thead>
      <% data.header.forEach(function(cell, index) { %>
        <th 
        <% if (index == data.lastSort) { %>
          <% if (data.sortOrder == -1) { %>
            class="up"
          <% } else { %>
            class="down"
          <% } %>
        <% } %>
        id=<%= index %>><%= cell %></th>
      <% }); %>
    </thead>
  <% } %>
  <tbody>
    <% data.body.forEach(function(row) { %>
      <tr>
        <% row.forEach(function(cell) { %>
          <td
            <% if (typeof cell == "number") { %>
              class="right"
            <% } %>
          ><%= cell %></td>
        <% }); %>
      </tr>
    <% }); %>
  </tbody>
</table>