<table>
  <% if (data.header) { %>
    <thead>
      <% data.header.forEach(function(cell, index) { %>
        <th class="
        <% if (index == data.lastSort) { %>
          <% if (data.sortOrder == -1) { %>
            up
          <% } else { %>
            down
          <% } %>
        <% } %>
        <% if (data.classes) { %> <%= data.classes[index] %><% } %>
        " id=<%= index %>><%= cell %></th>
      <% }); %>
    </thead>
  <% } %>
  <tbody 
    <% if (data.body.length > 4) { %>
      class="striped"
    <% } %>>
    <% data.body.forEach(function(row) { %>
      <tr>
        <% row.forEach(function(cell, index) { %>
          <td class="
            <% if (data.classes) { %><%= data.classes[index] %><% } %>
            <% if (index == data.lastSort) { %> emphasis<% } %>
          "><%= cell.toLocaleString().replace("/\.0+/", "") %></td>
        <% }); %>
      </tr>
    <% }); %>
  </tbody>
</table>