<table>
  <% if (data.header) { %>
    <thead>
      <% data.header.forEach(function(cell, index) { %>
        <th class="
        <%= data.lastSort == index ? (data.sortOrder == -1 ? "up" : "down") : "" %>
        <%= data.sort && data.sort[index] ? "sortable " : "" %>
        <%= data.classes && data.classes[index] || "" %>
        " id=<%= index %>><%= cell %></th>
      <% }); %>
    </thead>
  <% } %>
  <tbody>
    <% data.rows.forEach(function(row) { %>
      <tr>
        <% row.forEach(function(cell, index) { %>
          <td class="
            <% if (data.classes && data.classes[index]) { %><%= data.classes[index] %><% } %>
            <% if (index == data.lastSort) { %> emphasis<% } %>
          "><%= cell.toLocaleString().replace(/\.0+$/, "") %></td>
        <% }); %>
      </tr>
    <% }); %>
  </tbody>
</table>