sort-table {
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  th {
    cursor: pointer;
    text-align: center;
    padding-left: 15px;

    &.up::before {
      position: absolute;
      content: "\25B2";
      font-size: 10px;
      color: rgb(188, 92, 35);
      margin-left: -12px;
      padding-top: 1px;
    }
    &.down::before {
      position: absolute;
      content: "\25BC";
      font-size: 10px;
      color: rgb(188, 92, 35);
      margin-left: -12px;
      padding-top: 2px;
    }
  }

  .striped {
    tr:nth-child(odd) {
      background: rgb(238, 238, 238);
    }
  }

  td {
    padding: 4px;

    &.right {
      text-align: right;
    }
  }
}